body{
    background-color: #020202;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    font-size: 100%;
}

.navbar-toggler{
    scale: 70%;
}
.navbar-toggler-icon{
    scale: 70%;
}

.mountain_main{
    width: 100%;
}
.aboutus_head{
    margin-top: 4rem;
    margin-bottom: 0;
font-weight: light;
font-size: 1.5rem;
font-kerning: 88;
}
.products{
    margin-top: 2rem;
    margin-bottom: 0;
font-weight: light;
font-size: 1.5rem;
font-kerning: 88;
}
.aboutus{
    margin: auto;
    width: 80%;
    font-weight: 400;
    line-height: 1.6;
    padding-bottom: 35px;
    padding-top: 20px;
}
.branding{
    margin: 3.4rem auto 4.4rem;
    width: 90%;
    background-color: #050505;
}
#behance_logo{
    margin-top: 20px;
    width: 33px;
    margin: 2em;
    margin-top: 0px;
    filter: invert();
    margin-bottom: 20px;
}
#linkedin_logo{
    margin-top: 20px;
    width: 30px;
    margin: 2em;
    margin-top: 0px;
    filter: invert();
    margin-bottom: 20px;
   
}
#discord_logo{
    margin-top: 20px;
    width: 35px;
    margin: 1.5em;
    margin-top: 0px;
    margin-bottom: 20px;
}
#github_logo{
    margin-top: 20px;
    width: 30px;
    margin: 1.5em;
    margin-top: 0px;
    margin-bottom: 20px;
}
#linkedin_logo:hover{
    position: relative;
    bottom: 3px;
    animation-timing-function: cubic-bezier();
}
#behance_logo:hover{
    position: relative;
    bottom: 3px;
    animation-timing-function: cubic-bezier();
}

#discord_logo:hover{
    position: relative;
    bottom: 3px;
    animation-timing-function: cubic-bezier();
}
#github_logo:hover{
    position: relative;
    bottom: 3px;
    animation-timing-function: cubic-bezier();
}
.cta{
    background-color: white;
    padding-top: 50px;
    position: relative;
    margin-top: 80px;
    padding-bottom: 20px;
}
h2{
    color: black;
    font-family: 'Bebas Nueue', sans-serif;
    margin-bottom: 23px;
    font-size: large;
}
h2:hover{
    color: #1501c6;
    
}
h1:hover{
    color: #1501c6;
    
}
hr{

    border: none;
    height: 0.1px;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
.moonistic_logo{
    width: 90px;
}
    
.dotted_hr{
    margin: auto;
    width: 8%;
    border-style: dotted none none;
    border-width: 7px;
    border-color: rgb(106, 106, 106);
    margin-bottom: 20px;
}
.nav-item{
    margin-left: 10px;
}
/* .brnd{
    width: 25%;
    margin: 1.3px;
    margin-bottom: 5px;
} */
.brnd:hover img {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}

}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: none;
    color: rgba(51, 249, 51, 0.905);
}
.buy_now_button{
    background-color: #020202;
    border: solid rgb(255, 255, 255);
    border-width: 0.3px;
    padding: 10px 6%;
    border-radius: 8px;
}
.buy_now_button:hover{
    background-color: #161616;
    border: solid rgb(0, 119, 255);
    border-width: 0.3px;
    padding: 10px 6%;
    border-radius: 8px;
}

.brnd_img{
    width: 50%;
    margin: 1.3px;
    margin-bottom: 1%;
}

.brnd1_des{
    width: 80%;
    margin: auto;
    margin-bottom: 2rem;
}
.brnd2_des{
    width: 80%;
    margin: auto;
    margin-bottom: 2rem;
}
.brnd3_des{
    width: 80%;
    margin: auto;
    margin-bottom: 2rem;
}
.brnd4_des{
    width: 80%;
    margin: auto;
    margin-bottom: 2rem;
}
.brnd5_des{
    width: 80%;
    margin: auto;
    margin-bottom: 2rem;

}
h3{
font-size: 90%;
font-weight: 500;
margin-bottom: 0.5rem;
padding: 13px 10px;
margin-top: 1.7rem;
padding-top: 15px;

}
h3:hover{
    color: #ffffff;
    background-color: rgb(15, 15, 15);
    border-radius: 20px;
    padding: 13px 10px;
    width: 80%;
    margin: auto;
    margin-top: 1.7rem;
    margin-bottom: 0.5rem;
    padding-top: 15px;
}
.brand_division{
    margin: auto;
    margin-top: 3rem;
    width: 8%;
    border-style: dotted none none;
    border-width: 7px;
    border-color: rgb(106, 106, 106);
    background-color: #020202;
}
.supportus{
    color: #818181;
    margin: auto;
    font-size: smaller;
}
